:root {
  --primary-color: #824bb6;
  --secondary-color: #b29cc9;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  /* background-color: #707070; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exemplo {
  padding: 12px;
  /* background-color: aqua; */
  /* background-color: #000; */
  max-width: 1000px;
  width: 100%;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  gap: 32px;
  /*background-color: #000; */
}

.navigation-bar a {
  /* transition: 0.5s ease; */
  padding: 8px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 8px;
}

.navigation-bar a:hover {
  padding: 7px;
  border: 1px var(--primary-color) solid;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
}

.footer-container {
  padding: 12px;
  width: 100%;
  max-width: 1000px;
  /* background-color: #000; */
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  /* background-color: #000; */
}

.contacts a {
  text-decoration: none;
}

.logo {
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: bolder;
}

.shine {
  color: var(--primary-color);
}

.nav-button span {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);

}

.nav-button {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  gap: 4px;
  margin-left: auto;
}

.description {
  padding: 16px 12px;
  border-radius: 12px;
  margin: 12px 0;
  background: linear-gradient(45deg, #eee, #dbc0e7);
}